{% extends 'superheroes/main.html' %}

{% block content %}
<div class="container">
    <div class="row p-3">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <form action="{% url 'superheroes:create_new_superhero' %}" method="post">
                {% csrf_token%}
                <div class="form-group">
                    <label for="name">Name</label><br>
                    <input type="text" class="form-control" id="name"><br>
                </div>
                <div class="form-group">
                    <label for="alter_ego">Alter Ego</label><br>
                    <input type="text" class="form-control" id="alter_ego"><br>
                </div>
                <div class="form-group">
                    <label for="primary">Primary Ability</label>
                    <input type="text" class="form-control" id="primary">
                </div>
                <div class="form-group">
                    <label for="secondary">Secondary Ability</label>
                    <input type="text" class="form-control" id="secondary">
                </div>
                <div class="form-group">
                    <label for="catchphrase">Catchphrase</label><br>
                    <input type="text" class="form-control" id="catchphrase">
                </div>
                <div class="form-group">
                    <label for="appearance">First Appearance</label><br>
                    <input type="date" class="form-control" id="appearance">
                </div>
                <div class="form-group">
                    <input type="submit" value="Add new!" class="btn btn-outline-primary">
                </div>
            </form>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>


{% endblock%}



