{% extends 'superheroes/main.html' %}

{% block content %}
<div class="jumbotron text-center">
  <h1 class="display-4">{{ single_superhero.name }}</h1>
    <p class="lead">Alter Ego: {{ single_superhero.alter_ego}}</p>
    <p class="lead">Primary Ability: {{ single_superhero.primary_ability}}</p>
    <p class="lead">Secondary Ability: {{ single_superhero.secondary_ability}}</p>
    <p class="lead">Catchphrase: {{ single_superhero.catchphrase}}</p>
    <p class="lead">First Appearance: {{ single_superhero.first_appearance}}</p>
  <hr class="my-4">
  <form action="{% url 'superheroes:index'%}" method="get">
        <button type="submit" class="btn btn-success btn-lg">Back to Main</button>
    </form>
</div>
{% endblock%}
