{% extends 'superheroes/main.html' %}

{% block content %}
{% load static %}

<div class="container text-center m5 pb-5">
    <div class="row d-flex justify-content-center p-3">
        <h1>Welcome to the Superheroes App!</h1>
    </div>
    <div class="row d-flex justify-content-center">
        <form action="{% url 'superheroes:index'%}" method="get">
            <button type="submit" class="btn btn-success btn-lg">Take Me to the Heroes!</button>
        </form>
    </div>
    <div class="row d-flex justify-content-center p-3">
        <img src="{% static 'superheroes/spidermanshield.jpeg' %}" alt="spiderman">
    </div>
</div>
{% endblock %}