<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Superhero Index</title>
</head>
<body>
    <h1>This is a templated view!</h1>
    <p>A view is the business logic layer that runs queries on a database based on user interactions with the app</p>
    <p>A template is the visualization of that view that shows the results of queries.</p>
</body>
</html>