
{% extends 'superheroes/main.html' %}

{% block content %}
<h1>All Superheroes</h1>
<form action="{% url 'superheroes:create_new_superhero'%}" method="get">
    <button type="submit">Create New Hero!</button>
</form>
<ul>
    {% for superhero in all_superheroes %}
    <li><h2> {{superhero.name}} </h2></li>
    <a href="{% url 'superheroes:detail' superhero.id %}">See more info</a>
    <a href="{% url 'superheroes:edit_get' superhero.id %}">Edit Hero</a>
    <a href="{% url 'superheroes:delete' superhero.id %}">Delete Hero</a>
    {% endfor %}
</ul>
{% endblock%}
